<section class="ev-md-container text-center">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <!-- <div class=" ev-card-panel ev-z-depth-5"> -->
            <div class="ev-md-container ev-card-body change-password-card">
                <div class="pass-title">رمز عبور را تغییر دهید</div>
                <form name="changepwdForm" ng-submit="changepwd.changePassword(changepwdForm.$valid)" novalidate>
                    <div class="input-field align-right">
                        <input id="old_password" name="old_password" type="{{canShowOldPassword ? 'text' : 'password'}}" class="text-dark-black dark-autofill w-400" ng-model="changepwd.user.old_password" ng-minlength="8" required focus-if>
                        <span class="form-icon form-icon-dark" ng-click="changepwd.toggleOldPasswordVisibility()">
                            <i ng-if="!canShowOldPassword" class="fa fa-eye pointer"></i>
                            <i ng-if="canShowOldPassword" class="fa fa-eye-slash pointer"></i>
                        </span>
                        <label for="old_password">رمز عبور قدیمی*</label>
                        <div class="wrn-msg text-highlight" ng-messages="changepwdForm.old_password.$error" ng-if="changepwdForm.old_password.$touched || changepwdForm.$submitted">
                            <p ng-message="minlength">رمز عبور کمتر از 8 کارکتر است.</p>
                            <p ng-message="required">رمز عبور قدیمی اجباری است</p>
                        </div>
                    </div>
                    <div class="input-field align-right">
                        <input id="new_password1" name="new_password1" type="{{canShowNewPassword ? 'text' : 'password'}}" class="text-dark-black dark-autofill w-400" ng-model="changepwd.user.new_password1" ng-minlength="8" required match="changepwd.user.old_password">
                        <span class="form-icon form-icon-dark" ng-click="changepwd.toggleNewPasswordVisibility()">
                            <i ng-if="!canShowNewPassword" class="fa fa-eye pointer"></i>
                            <i ng-if="canShowNewPassword" class="fa fa-eye-slash pointer"></i>
                        </span>
                        <label for="new_password1">رمز عبور جدید*</label>
                        <div class="wrn-msg text-highlight" ng-messages="changepwdForm.new_password1.$error" ng-if="changepwdForm.new_password1.$touched || changepwdForm.$submitted">
                            <p ng-message="minlength">رمز عبور کمتر از 8 کارکتر است.</p>
                            <p ng-message="required">رمز عبور جدید اجباری است</p>
                            <p ng-message="match">رمز عبور جدید نمی تواند همانند رمز عبور قدیمی باشد</p>
                        </div>
                    </div>
                    <div class="input-field align-right">
                        <input id="new_password2" name="new_password2" type="{{canShowNewConfirmPassword ? 'text' : 'password'}}" class="text-dark-black dark-autofill w-400" ng-model="changepwd.user.new_password2" ng-minlength="8" compare-to="changepwd.user.new_password1" required>
                        <span class="form-icon form-icon-dark" ng-click="changepwd.toggleNewConfirmVisibility()">
                            <i ng-if="!canShowNewConfirmPassword" class="fa fa-eye pointer"></i>
                            <i ng-if="canShowNewConfirmPassword" class="fa fa-eye-slash pointer"></i>
                        </span>
                        <label for="new_password2">تایید کلمه عبور جدید*</label>
                        <div class="wrn-msg text-highlight" ng-messages="changepwdForm.new_password2.$error" ng-if="changepwdForm.new_password2.$touched || changepwdForm.$submitted">
                            <p ng-message="compareTo">رمز عبور مطابقت ندارد</p>
                            <p ng-message="minlength">رمز عبور کمتر از 8 کارکتر است.</p>
                            <p ng-message="required">تأیید رمز عبور اجباری است</p>
                        </div>
                    </div>
                    <div class="align-left reg-control">
                        <button class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14" type="submit" value="Submit">ثبت</button>
                    </div>
                    <div ng-if="changepwd.isFormError" class="wrn-msg text-highlight align-right"> {{changepwd.FormError}}</div>
                </form>
                <div class="back-profile-group">
                    <ul class="inline-list hide-on-med-and-down">
                        <li>
                            <a ui-sref="web.profile" class="dark-link"><strong>بازگشت به پروفایل</strong></a>
                        </li>
                        <li>
                            <span class="text-light-black">یا</span>
                        </li>
                        <li><a class="dark-link" ui-sref="web.update-profile">بروزرسانی پروفایل</a></li>
                    </ul>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>
</section>
