{% load i18n %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "به روزرسانی رمزعبور" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}پیوند بازنشانی رمز عبور نامعتبر بود، احتمالاً به این دلیل که قبلاً استفاده شده است. لطفاً <a href="{{ passwd_reset_url }}">بازنشانی رمز عبور جدید را درخواست کنید</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'به روزرسانی رمزعبور' %}"/>
            </form>
        {% else %}
            <p>{% trans 'رمز عبور شما اکنون تغییر کرده است.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
