{% block content %}
    <h1>بازگردانی رمز عبور</h1>
    <p>آیا رمز ورود خود را فراموش کرده اید؟ آدرس ایمیل خود را در زیر وارد کنید، ما یک ایمیل برای شما ارسال می کنیم که به شما امکان می دهد آن را بازگردانی کنید.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Reset My Password" />
    </form>

    <p>لطفا در صورت بروز هرگونه مشکل در تنظیم مجدد رمز عبور با ما تماس بگیرید.</p>
{% endblock %}
