{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "آدرس ایمیل خود را تأیید کنید" %}{% endblock %}

{% block content %}
<h1>{% trans "آدرس ایمیل خود را تأیید کنید" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}این قسمت از سایت از ما می‌خواهد تا تأیید کنیم که شما همان کسی که ادعا می‌کنید هستید. برای این منظور از شما می خواهیم که مالکیت آدرس ایمیل خود را تأیید کنید. {% endblocktrans %}</p>

<p>{% blocktrans %}ما برای شما یک ایمیل برای تایید ارسال کرده ایم. لطفا روی لینک داخل این ایمیل کلیک کنید. اگر ظرف چند دقیقه آن را دریافت نکردید، لطفا با ما تماس بگیرید.{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>توجه:</strong> همچنان می‌توانید <a href="{{ email_url }}">آدرس ایمیل خود را تغییر دهید</a>.{% endblocktrans %}</p>


{% endblock %}
